@keyframes specialEffect {
    0% {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
  }
.logo {
    animation:specialEffect 5s ease-in-out forwards;
}


body{
    font-family: 'Poppins', serif;
    background-color: #f1f1f1;
    background-image: url("concrete_seamless.png");
}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.nav_links{
    display:flex;
    flex-direction: column;
}

.nav_item a:link, a:visited{
    color:blue;
}

.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.card{
    overflow:hidden;
    flex-basis: 450px;
}

.pricing{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 1200px){
header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.nav_links{
    display:flex;
    flex-direction: row;
}

.pricing{
    display:flex;
    flex-direction: row;
}

.card{
    display:flex;
    flex-wrap: wrap;
    flex-basis: 275px;
}

/*if you don't have body > this function doesn't work. (It will run but different header will be fixed)*/
body > header:first-of-type{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 10;
}

}
@media (prefers-reduced-motion){
    .logo{
        animation: none;
        width: 475px;
        opacity: 1;
    }
}
/*Contains all information about print display*/
@media print {
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
    .nav_links{
        display:flex;
        flex-direction: row;
    }
    .pricing{
        display: flex;
        align-items: flex-end;
        flex-direction: row;
    }
    .card{
        display: flex;
        flex-direction: row;
        flex-basis: 325px;
        flex-wrap: wrap;
        justify-content: center;
        border:2px solid #45ADAD;
    }
    /*if you don't add either one of the class or id either the picture or header2 saying gallery will remain*/
    .gallery, #gallery{
        display:none;
    }
    /*this applies for all card class so if you don't want this thumbs up effect later on use different class or alter this line*/
    .card li:nth-child(2)::after{
        content:"👍";
        display:inline-block;
    }

}