/*animation effect applied to logo*/
@keyframes specialEffect {
    0% {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
  }
#logo {
    animation:specialEffect 5s ease-in-out forwards;
}

/*sets default background and font setting for body of the page*/
body{
    font-family: 'Poppins', serif;
    background-image: url("concrete_seamless.png");
    background-color: #f1f1f1;
}
/*recall this applies not only to the initial header at the top but all unstyled headers added later on*/
header{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/*naviagtion bar will be displayed vertically for mobile view*/
.nav_links{
    display:flex;
    flex-direction: column;
}
/*prevents link from changing color when it's visited*/
.nav_item a:link, a:visited{
    color:blue;
}
/*setting for card block's header*/
.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
}
/*default card setting have white background need to curve this part also*/
.card{
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
/*centers all content in the card box*/
.pricing{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 100%;
}
/*set border and display for immages in gallery*/
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}
/*put gallery in flex box style with images horizontally centered*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*following setting will apply to any viewport with size above 1200px*/
@media only screen and (min-width: 1200px){
/*puts logo to left end and nav bar to right end*/
header{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}
/*change nav bar to horizontal orientation(has vertical orientation for mobile view)*/
.nav_links{
    display:flex;
    flex-direction: row;
}

.pricing{
    display:flex;
}
/*put cards horizontally with basis 275px*/
.card{
    display:flex;
    flex-wrap: wrap;
    flex-basis: 275px;
}
/*withouth width 100% the header may look awkward depending on your display size*/
.card > header{
    width: 100%;
    justify-content: center;
}


/*if you don't have body > this function doesn't work. (It will run but different header will be fixed)*/
body > header:first-of-type{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 10;
}

}
/*setting your device to reduced motion will stop the animation and leave the logo only*/
@media (prefers-reduced-motion){
    .logo{
        animation: none;
        width: 475px;
        opacity: 1;
    }
}
/*Contains all information about print display*/
@media print {
    /*remove background image applied above*/
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav{
        width: 100%;
        
    }
    .nav_links{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pricing{
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .card{
        display: flex;
        flex-direction: row;
        flex-basis: 325px;
        flex-wrap: wrap;
        text-align: center;
        border:2px solid #45ADAD;
    }
    /*if you don't add either one of the class or id either the picture or header2 saying gallery will remain*/
    .gallery, #gallery{
        display:none;
    }
    /*this applies for all card class so if you don't want this thumbs up effect later on use different class or alter this line*/
    .card li:nth-child(2)::after{
        content:"👍";
        display:inline-block;
    }

}